<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-admob-sdk-tomitank" version="1.0.1">
    <name>AdMob SDK</name>
    <description>Google AdMob SDK for Cordova</description>
    <author>tomitank</author>
    <keywords>admob,google,ad</keywords>
    <repo>https://github.com/tomitank/cordova-admob-sdk-tomitank</repo>
    <issue>https://github.com/tomitank/cordova-admob-sdk-tomitank/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0" />
        <engine name="cordova-android" version=">=6.3.0"/>
    </engines>
    <platform name="android">
        <preference name="PLAY_SERVICES_VERSION" default="11.0.4"/>
        <framework src="com.google.android.gms:play-services-base:$PLAY_SERVICES_VERSION" />
        <framework src="com.google.android.gms:play-services-ads:$PLAY_SERVICES_VERSION" />
    </platform>
    <platform name="ios">
        <framework src="src/ios/GoogleMobileAds.framework" custom="true" />
    </platform>
</plugin>
